<form>
    <label for="deepl_api_key">Deepl API Key</label>
    <input type="text" id="deepl_api_key" name="deepl_api_key" value="{{ deepl_api_key }}" />
    <button type="button" id="test-deepl-api">Test Deepl API</button>
    <span id="deepl-api-test-result"></span>
</form>

<script src="/plugins/AiTranslateBundle/Resources/assets/js/config.js"></script>
